@charset "UTF-8";

/* 共通部分
------------------------------- */
html {
    font-size: 100%;
    font-family: "DotGothic16", sans-serif;
    font-weight: 400; /* 標準的なフォントウェイト */
    font-style: normal;
    color: #ffffff; /* テキストの色 */
    text-decoration: none; /* テキストの装飾なし */
    text-shadow: 
        0 0 5px #00ff15, /* 赤いグロー効果 */
        0 0 10px #267938,
        0 0 15px #097030,
        0 0 20px #003b0a; /* 明るさや範囲を調整 */
}

/* 見出し */
a{
    font-family: "DotGothic16", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: #0d084d;
    text-decoration: none;

    display: flex;
    justify-content: center;
    gap: 2.5rem;
    font-size: 1.5rem;
    list-style: none;
}

.page-title{
    font-size: 3rem;
    text-align: center;
    margin-top: 2rem;
    line-height: 1.4;
    
}
/*ヘッダー------------------------*/
.page-header {
    padding-top: 3rem;
}
.logo {
    width: 210px;
}


/* ボタン */

.btn-menu {
    position: absolute;
    top: 12px;
    right: 12px;
    border: 1px solid rgb(1, 58, 13);
    background-color: rgb(11, 70, 31);
    color: var(--white);
    padding: .5rem 1rem;
}
.main-nav {
    background: var(--gray);
    width: 0%;
    position: absolute;
    z-index: 2;
    top: 50px;
    right: 0;
    overflow: hidden;
    transition: .5s;
}
.main-nav.open-menu {
    width: 100%;
    background-color : rgba(255, 255, 255, 0.75);
}
.main-nav li {
    text-align: center;
    margin: 2rem 0;
}
.main-nav a {
    display: block;
}

/* ヘッダーカバー画像 */
.cover {
    background-size: cover;
    background-position: center bottom;
    height: 100vh;
}


/*LIKE
-----------------------*/
.cover-like {
    background-image: url(../images/IMG_4758.JPG);
    background-position: center 45%;
    background-size: cover;
}
/*星*/
.starfield {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    pointer-events: none; /* 星がクリックされないようにする */
}

.star {
    position: absolute;
    border-radius: 50%;
    background: #023513;
    clip-path: polygon(
        50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 
        21% 91%, 32% 57%, 2% 35%, 39% 35%
    );
    opacity: 0.8;
    pointer-events: none;
   
}


@keyframes fall {
    from {
        transform: translateY(-100vh);
    }
    to {
        transform: translateY(100vh);
    }
}
/* 背景画像 */
.cover {
    position: relative; /* 相対位置で配置するため */
    background-image: url(../images/IMG_4758.JPG);
    background-position: center; /* 背景画像の位置を中央に設定 */
    background-size: cover; /* 背景画像をカバーするようにサイズを調整 */
    background-repeat: no-repeat; /* 背景画像の繰り返しを無効にする */
    height: 100vh; /* ビューポートの高さに合わせる */
    display: flex; /* フレックスボックスレイアウトを使用 */
    justify-content: center; /* 横方向の中央に配置 */
    align-items: center; /* 縦方向の中央に配置 */
}

/* 背景の上に配置する画像 */
.overlay-image {
    z-index: 10; /* 背景画像の上に配置 */
}

.overlay-image img {
    width: 300px; /* 画像の幅を指定 */
    height: auto; /* 高さを自動で調整 */
}

