@charset "UTF-8";

/* 共通部分
------------------------------- */
html {
    font-size: 100%;
    font-family: "DotGothic16", sans-serif;
    font-weight: 23;
    font-style: normal;
    color: #d12c2c;
    text-decoration: none;
}
/* 見出し */
a{
    font-family: "DotGothic16", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: #0d084d;
    text-decoration: none;

    display: flex;
    justify-content: center;
    gap: 2.5rem;
    font-size: 1.5rem;
    list-style: none;
}

.page-title{
    font-size: 3rem;
    text-align: center;
    margin-top: 2rem;
    line-height: 1.4;
    
}
/*ヘッダー------------------------*/
.page-header {
    padding-top: 3rem;
}
.logo {
    width: 210px;
}
/*Playlist
-------------------------------*/
.grid {
    display: grid;
    gap: 3rem 2rem;
    grid-template-columns: repeat(3,1fr);
    text-align: center;
}
.item-img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 16px;
}
.item p {
    font-size: .875rem;
}
.image-container {
    width: 300px; 
    height: 200px; 
    overflow: hidden; 
}

.image-container img {
    display: block;
    width: 100%;
    height: auto;
}

/* ボタン */

.btn-menu {
    position: absolute;
    top: 12px;
    right: 12px;
    border: 1px solid rgba(255, 255, 255,.5);
    background-color: rgb(197, 202, 202);
    color: var(--white);
    padding: .5rem 1rem;
}
.main-nav {
    background: var(--gray);
    width: 0%;
    position: absolute;
    z-index: 2;
    top: 50px;
    right: 0;
    overflow: hidden;
    transition: .5s;
}
.main-nav.open-menu {
    width: 100%;
    background-color : rgba(224, 224, 224, 0.75);
}
.main-nav li {
    text-align: center;
    margin: 2rem 0;
}
.main-nav a {
    display: block;
}

/* ヘッダーカバー画像 */
.cover {
    background-size: cover;
    background-position: center bottom;
    height: 100vh;
}
/*HOME */
.cover-live {
    background-image: url(../images/7fc651367e8113caf85b422fedf14797.jpg);
    background-position: center 45%;
    background-size: cover;
}
/*Playlist
-------------------------------*/
.grid {
    display: grid;
    gap: 3rem 2rem;
    grid-template-columns: repeat(3,1fr);
    text-align: center;
}
.item-img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 16px;
}
.item p {
    font-size: .875rem;
}
.image-container {
    width: 300px; 
    height: 200px; 
    overflow: hidden; 
}

.image-container img {
    display: block;
    width: 100%;
    height: auto;
}

