@charset "UTF-8";

/* 共通部分
------------------------------- */
body {
    background-image: url('path/to/your/image.jpg');
    background-attachment: fixed;
    background-size: cover; /* 画像が画面全体にフィットするようにする */
    background-position: center; /* 画像を中央に配置する */
}

  
  html {
    font-size: 100%;
    font-family: "DotGothic16", sans-serif;
    font-weight: 23;
    font-style: normal;
    color: #d12c2c;
    text-decoration: none;
}
/* 見出し */
a{
    font-family: "DotGothic16", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: #0d084d;
    text-decoration: none;

    display: flex;
    justify-content: center;
    gap: 2.5rem;
    font-size: 1.5rem;
    list-style: none;
}

.page-title{
    font-size: 3rem;
    text-align: center;
    margin-top: 2rem;
    line-height: 1.4;
    
}

/*ヘッダー------------------------*/
.page-header {
    padding-top: 3rem;
}
.logo {
    width: 210px;
}



/* ボタン */

.btn-menu {
    position: absolute;
    top: 12px;
    right: 12px;
    border: 1px solid rgba(255, 255, 255,.5);
    background-color: rgb(197, 202, 202);
    color: var(--white);
    padding: .5rem 1rem;
}
.main-nav {
    background: var(--gray);
    width: 0%;
    position: absolute;
    z-index: 2;
    top: 50px;
    right: 0;
    overflow: hidden;
    transition: .5s;
}
.main-nav.open-menu {
    width: 100%;
    background-color : rgba(224, 224, 224, 0.75);
}
.main-nav li {
    text-align: center;
    margin: 2rem 0;
}
.main-nav a {
    display: block;
}

/* ヘッダーカバー画像 */
.cover {
    background-size: cover;
    background-position: center bottom;
    height: 100vh;
}

/*me
---------------------------*/
.cover-me {
    background-image: url(../images/IMG_4740.JPG);
    background-position: center 45%;
    background-size: cover;
}

  

img {
    width: 400px;
    height: auto;
    text-align: center;
    border-radius: 16px;
    margin-bottom: 1.5rem;
}





  








